<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.securitydemo.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="com.example.securitydemo.entity.Role">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="byUserId" resultMap="BaseResultMap">
        select * from role where user_id = #{userId}
    </select>
</mapper>